<html>
    <head>
        <style>
            body
            {
                font-family: Verdana, Verdana, Geneva, sans-serif;
            }
            
            .header
            {
                clear:both;
                overflow: hidden;
                padding: 20px;
            }
            

            table
            {

                border : 1;
                font-size: smaller;
            }
            
            .tftable {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;}
            .tftable th {font-size:12px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:left;}
            .tftable tr {background-color:#ffffff;}
            .tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}


        </style>
        <meta name="viewport" id="view" content="width=320px, minimum-scale=1.0, maximum-scale=1.0">
    </head>
    <body>   
        {{#documentHeader}}
        Non so
        {{/documentHeader}}

        {{#pageHeader}}        
        <div class='header'>
            <img src='http://www.firebirdsql.org/file/about/ds-firebird-logo-100.png' />
            

            <div class='myCompany'>
                <h1>{{date}}</h1>
                {{completedBy}} <br />
            </div>
        </div>
        {{/pageHeader}}
        
        {{#pageContent}}  
             

        <div>
            <table class="tftable" border="1">
                <tr>
                    <th width="50px">Room No.</th>
                    <th width="25px">SC</th>
                    <th width="25px">Y/N</th>
                    <th width="25px">IC</th>
                    <th width="25px">Y/N</th>
                    <th width="25px">IT</th>
                    <th width="25px">Y/N</th>
                    <th width="25px">ST</th>
                    <th width="25px">Y/N</th>
                    <th width="50px">Last Class Time</th>
                    <th width="150px">Remarks</th>
                </tr>
                
                {{#articles}}
                <tr>
                    <td>{{roomNo}}</td>
                    <td>{{SC}}</td>
                    <td>{{isSC}}</td>
                    <td>{{IC}}</td>
                    <td>{{isIC}}</td>
                    <td>{{IT}}</td>
                    <td>{{isIT}}</td>
                    <td>{{ST}}</td>
                    <td>{{isST}}</td>
                    <td>{{endTime}}</td>
                    <td>{{remarks}}</td>
                </tr>
                {{/articles}}
            </table>
        </div>
        
        {{/pageContent}}

        {{#pageFooter}}
        <div class='footer'>
            Pagina {{pageNumber}}
        </div>    
        {{/pageFooter}}      
        
        
        
    </body>
</html>